/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2016, 5:38:46 PM
    Author     : Khaled Saiful Islam
*/

#loading_text {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    line-height: 20px;
    text-align: center;
}
.form-horizontal .control-label{
    text-align: left;
}
.col-sm-3{
    width: 10%;
}
.alert{
    font-size: 13px;
}