/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2016, 5:38:46 PM
    Author     : Khaled Saiful Islam
*/

#loading_text {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    line-height: 20px;
    text-align: center;
}
.form-horizontal .control-label{
    text-align: left;
}
.col-sm-3{
    width: 14%;
}
.alert{
    font-size: 13px;
}
.error-message{
    color: red;
}
.ace-file-input{
    max-width: 42%;
}
.item-hover:hover{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    opacity: .4;
    transform: translateY(10px);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.custom_bid_button {
	font-family: 'Exo 2', sans-serif;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 10px 34px;
	background:#4CB1CA;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.custom_bid_button:hover{
	background:#555;
        text-decoration: none;
        color: #FFF;
}