/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2016, 5:38:46 PM
    Author     : Khaled Saiful Islam
*/

.message, .error{
    text-align: center;
    margin-bottom: 10px;
}
.error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.success{   
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}